body {
    margin-left: 200px;
    margin-bottom: 600px;

}

nav {
    position: fixed;
    top: 20px;
    left: 200px;
    width: 200px;
    /* ancho del menú */
    margin-left: -180px;
    /* ajusta la posición horizontal */
    padding-top: 50px;
    background-color: #fff;
    /* agrega un fondo blanco para que se vea bien */
    z-index: 1;
    /* asegura que el menú esté encima de otros elementos */
}

nav.fixed {
  /*position: fixed;*/
  top: 20px;
  left: 200px;
}

nav.show-nav {
    display: none;
}
header{
    margin-left: 80px;
}

#form1, #form2, #form2_2, #pMax60, #form4{
   margin-top: 70px; 
}

#form3{
    margin-top: 50px;
}

#btn1{
    padding-left: 100px;
    padding-right: 100px;
}
#btn3_1, #btn3_2, #btn3_3, #btn3_4, #btn3_5, #btn3_6, #btn3_7, #btn3_8, #btn3_9, #btn3_10, #btn3_11
{
    padding-left: 80px;
    padding-right: 70px;
}
.input-header {
    background-color: #ced4da;
    margin-bottom: 3px;
    width: 100%;
    /* Make the input fields 100% width */
}

/* Target the options within the select element with class 'input-header' */
.input-header option {
    background-color: white;
}

.input-header option:checked {
    background-color: #e2e2e2;
    /* Change this color to your preference for hover effect */
    cursor: pointer;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* Define the columns */
    grid-gap: 10px;
    /* Add some space between the elements */
    align-items: center;
    /* Center the elements vertically */
    padding: 20px;
    /* Add padding to the container */
    margin-top: 50px;
}


.label {
    font-weight: bold;
    /* Make the labels bold */
}

@media (max-width: 768px) {

    /* Styles for screens smaller than 768px */
    .form-container {
        grid-template-columns: 1fr;
        /* Make the labels and inputs stack on top of each other for smaller screens */
    }
}

.table-header, #prom90_100, #prom80_90, #prom70_80, #comIncisoA,#comIncisoB,#comIncisoC,#comIncisoD,
#comInternacional,#comNacional,#comRegional,#comPreparacion{
    background-color: #d6fff7;
    border: none;
    text-align: right;

}

#cant1, #cant2, #cant3 {
    text-align: right;
}


.table-header input {
    border-color: transparent;
    text-align: left;

}

.table-ajust {
    width: auto;
}

.table-ajust2 {
    padding-right: 0 !important;
}

.table td.puntajeEvaluar {
    background-color: #002b4e;
    color: white;
    text-align: right;
    border: none;
    font-weight: bold;
    
}

.table td.puntajeEvaluar2 {
    background-color: white;
    color: black;
    text-align: right;

}

.table td.comision {

    text-align: center;
}


.table input.puntajeEvaluar {
    background-color: rgba(0, 0, 0, 0.0);
    /* Fully transparent background */
    text-align: right;
    color: white;
    /* Ensure text color is white for visibility */
    border: none;
    /* Remove border for a cleaner look */

}

.actv input {
    text-align: right;
    border: none;
    width: 100%;
    height: 100%;
}

.horasActv2 input {

    text-align: right;
    border: none;
    background-color: #e2e2e2;

}

#DSE,
#DSE2 {
    color: black;
}

#hours, .hours {
    background-color: #002b4e;
    color: white;
    text-align: center;
    border: none;
    font-weight: bold;
}

.actv2Comision, #actv2Comision, #actv3Comision, #comision3_2, #comision3_3, #comision3_4,#comision3_5, #comision3_6, 
#comision3_7, #comision3_8, #comision3_9, #comision3_10, #comision3_11, #comision3_12, #comision3_13, 
#comision3_14, #comision3_15, #comision3_16, #comision3_17, #comision3_18, #comision3_19{
    background-color: #ffcc6d;
    text-align: center;
    border: none;
    font-weight: bold;
}
.table td.actv3{
    background-color: #ffcc6d;
    text-align: center;
    border: none;
}

#horasPosgrado,
#horasSemestre {
    text-align: center;
    background-color: #e2e2e2;
    border: none;
}



#comisionPosgrado, #comisionLic, #comisionIncisoA, #comisionIncisoB, #comisionIncisoC,
#comisionIncisoD, #comisionIncisoE  {
    background-color: #d6fff7;
}

#docencia {
    background-color: #002b4e;
    color: white;
    text-align: center;
    border: none;
    font-weight: bold;
}

#docencia3-1{
    background-color: #0b5967;
    color: white;
    text-align: right;
    border: none;
    font-weight: bold;
}

.send1{
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 20px;
}

#score3_1,#score3_2, #score3_3, #score3_4, #score3_5, #score3_6, #score3_7, #score3_8, #score3_9, #score3_10, 
#score3_11, #score3_12, #score3_13, #score3_14, #score3_15, #score3_16,#score3_17, #score3_18, #score3_19 {
    white-space: nowrap;
    background-color: #0b5967;
    color: white;
    text-align: center;
    border: none;
    font-weight: bold;
}


.actividades{
border-right: black;

}

.label-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Align items to the end of the container */
}

.label-container span {
    margin-left: auto;
    /* Push the labels to the right side */
    margin-bottom: 5px;
    /* Add some space between the labels */
}

#elaboracion, #elaboracion2, #elaboracion3, #elaboracion4, #elaboracion5,#r1, #r2, #r3, #rCant1, 
#cantInternacional, #cantNacional, #cantidadRegional, #cantPreparacion, #rc1,
#rc2, #rc3, #rc4{
text-align: right;
background-color: #e2e2e2;
border: none;


}

#r1{
    width: 100px;
}


#elaboracionSubTotal1 label, #elaboracionSubTotal3 label, #elaboracionSubTotal4 label, #elaboracionSubTotal5 label{
border: none;
text-align: right;

}

.ranges td{
    text-align: center;
   
}

#puntaje60 label, #puntaje20 label, #puntaje40 label,
#puntaje10 label,#p10 label{
text-align: center;

}

.elabInput input{
    width: 100px;
}

.scoreRight td{
text-align: right;
}

/*Puntaje de la Comision Dictaminadora*/
.cd{
   width: 100px; 
   
}


.obra {
    width: 200px;
    /* Ancho deseado para la columna 'Obra' */
}
.incisos, .punto3_4, .punto3_5, .punto3_6, .punto3_7, .punto3_8, .p3_9{
    white-space: nowrap;
    width: 1%;
    height: 20px;
    font-weight: normal;
}

.acreditacion{
    font-weight: normal;
    font-size: 16px;
}
.descripcion, .descripcionCAAC{
    font-weight: normal;
    padding-left: 100px;
    padding-right: 560px;
}

.descripcionDDIE{
    font-weight: normal;
        padding-left: 100px;
        padding-right: 880px;
}

#convocatoriaPeriodoLabel {
   margin-top: 200px; 
   margin-left: 100px;
}

#resumen h2{
margin-bottom: 20px;
}





