$is-chrome: false;

@if browser-feature(chrome) {
  $is-chrome: true;
}

#convocatoria footer{
  // Estilos comunes
  color: black;
  font-size: 14px;

  @if $is-chrome {
    // Estilos específicos para Chrome
    background-color: blue;
  }
}