body {
    height: 100%;
    margin-left: 260px;

}

a {
    text-decoration: none;
    color: #555385;
}

.main-container {
    min-height: 100vh;
    padding-bottom: 100px;
}

nav {
    position: fixed;
    background-color: #afc7ce;
    padding-top: 0px;
    overflow-y: auto;
    width: 295px;
    

}

.actv3 {
    margin-left: -15px;
    height: 80vh;
    overflow-y: auto;
    background-color: #afc7ce;
}

.actv3 ul {
    list-style-type: none;
    padding: 0;


}

.actv3 li {
    margin-bottom: 80px;
    margin-left: 3px;
    list-style-type: none;
    margin-top: 20px;

}

.actv3::-webkit-scrollbar {
    width: 10px;
}

.actv3::-webkit-scrollbar-track {
    background: #afc7ce;
}

.actv3::-webkit-scrollbar-thumb {
    background: #555385;
    border-radius: 5px;
}

.actv3::-webkit-scrollbar-thumb:hover {
    background: #333;
}

.userMenu{
        background-color: #afc7ce;
        margin-top: 100px;
}

[id^="obs3_9_"], [id^="obs3_3_"] , [id^="tutoriasComision"]{
    background-color: #d6fff7;
    border-color: transparent;
    text-align: right;
}

#puntajeIndividual, #individualCant, #evaluarIndividual ,#comisionIndividual ,#obsIndividual,
#puntajeGrupales ,#grupalesCant ,#evaluarGrupales ,#comisionGrupal ,#obsGrupal,
#cantAsesoria, #subtotalAsesoria, #comisionAsesoria, #obsAsesoria, #cantServicio, #subtotalServicio,
#comisionServicio, #obsServicio, #cantPracticas, #subtotalPracticas, #comisionPracticas,
#obsPracticas {
    text-align: right;
}

#individualCant, #grupalesCant, 
#cantAsesoria, #cantServicio, #cantPracticas,
#cantCientifico, #cantDivulgacion, #cantTraduccion, #cantArbitrajeInt, #cantArbitrajeNac, #cantSinInt, #cantSinNac, #cantAutor, #cantEditor, #cantWeb, .cantidad,
#cantCongresoInt, #cantCongresoNac, #cantCongresoLoc, 
#cantDifusionExt, #cantDifusionInt, #cantRepDifusionExt, #cantRepDifusionInt, #cantDA, #cantCAAC, #puntaje3_7,
#cantInicioFinanExt, #cantInicioInvInterno, #cantReporteFinanciamExt, #cantReporteInvInt{
    border-color: transparent;
    background-color: #c1cfd3;
    text-align: right;
}

[id^="puntaje3_9_"], #puntaje3_8, #puntaje3_6{
        background-color: #c1cfd3;
        text-align: right;
        border-color:transparent;
}

#comisionIndividual, #comisionGrupal, #obsGrupal, #obsIndividual, #comisionAsesoria,
#obsAsesoria, #comisionServicio, #obsServicio, #comisionPracticas, #obsPracticas,
#obsCientificos, #obsDivulgacion, #obsTraduccion, #obsArbitrajeInt, #obsArbitrajeNac, #obsSinInt, #obsSinNac, #obsAutor, #obsEditor, #obsWeb,
#comisionCientificos, #comisionDivulgacion, #comisionTraduccion, #comisionArbitrajeInt, #comisionArbitrajeNac, #comisionSinInt, #comisionSinNac, #comisionAutor, #comisionEditor, #comisionWeb, .comision3_13{
    background-color: #d6fff7;
    border-color: transparent;
    text-align: right;
}

#academica , #servicio , #practicas{
    font-weight: bold;
    text-align: center;
}

#comisionCongresoInt, #obsCongresoInt, #comisionCongresoNac, #obsCongresoNac, #comisionCongresoLoc, #obsCongresoLoc, #comisionArbInt,
#comisionArbNac, #comisionPubInt, #comisionPubNac,#comisionRevInt, #comisionRevNac,#comisionRevista, #comisionPatententes, #comisionPrototipos,
#obsArbInt, #obsArbNac, #obsPubInt, #obsPubNac, #obsRevInt,#obsRevNac, #obsRevista, #obsPatentes, #obsPrototipos,
#comisionInicioFinancimientoExt, #obsInicioFinancimientoExt, #comisionInicioInvInterno, #obsInicioInvInterno, #comisionReporteFinanciamExt, #obsReporteFinanciamExt, 
#comisionReporteInvInt, #obsReporteInvInt,  #obsDifusionExt, #obsDifusionInt, #obsRepDifusionExt, #obsRepDifusionInt, #comisionDifusionExt,
#comisionDifusionInt, #comisionRepDifusionExt, #comisionRepDifusionInt, #comisionComOrgInt, #comisionComOrgNac, #comisionComOrgReg, #comisionComApoyoInt, #comisionComApoyoNac, 
#comisionComApoyoReg, #comisionCicloComOrgInt, #comisionCicloComOrgNac, #comisionCicloComOrgReg, #comisionCicloComApoyoInt, #comisionCicloComApoyoNac, #comisionCicloComApoyoReg,
#comCGUtitular, #comCGUespecial, #comCGUpermanente, #comCAACtitular, #comCAACintegCom, #comComDepart, #comComPEDPD, #comComPartPos, #comRespPos, #comRespCarrera, #comRespProd, #comRespLab,
#comExamProf, #comExamAcademicos, #comPRODEPformResp, #comPRODEPformInteg, #comPRODEPenconsResp, #comPRODEPenconsInteg, #comPRODEPconsResp, #comPRODEPconsInteg, 
#obsComOrgInt, #obsComOrgNac, #obsComOrgReg, #obsComApoyoInt, #obsComApoyoNac, #obsComApoyoReg, #obsCicloComOrgInt, #obsCicloComOrgNac, #obsCicloComOrgReg, #obsCicloComApoyoInt, #obsCicloComApoyoNac, #obsCicloComApoyoReg,
#obsCGUtitular, #obsCGUespecial, #obsCGUpermanente, #obsCAACtitular, #obsCAACintegCom, #obsComDepart, #obsComPEDPD, #obsComPartPos, #obsRespPos, #obsRespCarrera, #obsRespProd, #obsRespLab,
#obsExamProf, #obsExamAcademicos, #obsPRODEPformResp, #obsPRODEPformInteg, #obsPRODEPenconsResp, #obsPRODEPenconsInteg, #obsPRODEPconsResp, #obsPRODEPconsInteg, #comDA, #comNCAA
{
    background-color: #d6fff7;
    border-color: transparent;
    text-align: right;
}

.nav-item, .nav-link, .nav-link2 {
    border-style: none;
    
}

.nav-link2{
    font-size: medium;
}

#cantCGUtitular, #cantCGUespecial, #cantCGUpermanente, #cantCAACtitular, #cantCAACintegCom, #cantComDepart, #cantComPEDPD, #cantComPartPos,
#cantRespPos, #cantRespCarrera, #cantRespProd, #cantRespLab, #cantExamProf, #cantExamAcademicos, #cantPRODEPformResp, #cantPRODEPformInteg, #cantPRODEPenconsResp,
#cantPRODEPenconsInteg, #cantPRODEPconsResp, #cantPRODEPconsInteg, #cantComOrgInt, #cantCicloComApoyoReg, #cantComOrgReg, #cantCicloComApoyoNac,
#cantComOrgNac, #cantComOrgReg, #cantComApoyoInt, #cantComApoyoNac, #cantComApoyoReg, #cantCicloComOrgInt, #cantCicloComOrgNac, #cantCicloComOrgReg, #cantCicloComApoyoInt,
#cantArbInt, #cantArbNac, #cantPubInt,#cantPubNac,#cantRevInt, #cantRevNac,#cantRevista, #cantPatentes, #cantPrototipos, #r1, #r2, #r3, .elabInput{
    background-color: #c1cfd3;
    text-align: right;
    border-color:transparent;
}

#actvCant, #cantidadTd{
    text-align: right;
}
