body {
    height: 100%;
    margin-left: 260px;

}

a {
    text-decoration: none;
    color: #555385;
}

.main-container {
    min-height: 100vh;
    padding-bottom: 100px;
}

nav {
    position: fixed;
    background-color: #afc7ce;
    padding-top: 0px;
    overflow-y: auto;
    width: 295px;
    

}

.actv3 {
    margin-left: -15px;
    height: 80vh;
    overflow-y: auto;
    background-color: #afc7ce;
}

.actv3 ul {
    list-style-type: none;
    padding: 0;


}

.actv3 li {
    margin-bottom: 80px;
    margin-left: 3px;
    list-style-type: none;
    margin-top: 20px;

}

.actv3::-webkit-scrollbar {
    width: 10px;
}

.actv3::-webkit-scrollbar-track {
    background: #afc7ce;
}

.actv3::-webkit-scrollbar-thumb {
    background: #555385;
    border-radius: 5px;
}

.actv3::-webkit-scrollbar-thumb:hover {
    background: #333;
}

.userMenu{
        background-color: #afc7ce;
        margin-top: 100px;
}

#obs3_9_1, #obs3_9_2, #obs3_9_3, #obs3_9_4, #obs3_9_5, #obs3_9_6, #obs3_9_7, #obs3_9_8, #obs3_9_9, #obs3_9_10, #obs3_9_11, #obs3_9_12, #obs3_9_13,
#obs3_9_14, #obs3_9_15, #obs3_9_16, #obs3_9_17{
    background-color: #d6fff7;
    border-color: transparent;
}

#puntajeIndividual, #individualCant, #evaluarIndividual ,#comisionIndividual ,#obsIndividual,
#puntajeGrupales ,#grupalesCant ,#evaluarGrupales ,#comisionGrupal ,#obsGrupal,
#cantAsesoria, #subtotalAsesoria, #comisionAsesoria, #obsAsesoria, #cantServicio, #subtotalServicio,
#comisionServicio, #obsServicio, #cantPracticas, #subtotalPracticas, #comisionPracticas,
#obsPracticas {
    text-align: right;
}

#individualCant, #grupalesCant, 
#cantAsesoria, #cantServicio, #cantPracticas,
#cantCientifico, #cantDivulgacion, #cantTraduccion, #cantArbitrajeInt, #cantArbitrajeNac, #cantSinInt, #cantSinNac, #cantAutor, #cantEditor, #cantWeb, .cantidad,
#cantCongresoInt, #cantCongresoNac, #cantCongresoLoc, 
#cantDifusionExt, #cantDifusionInt, #cantRepDifusionExt, #cantRepDifusionInt{

    background-color: #c1cfd3;
}

#comisionIndividual, #comisionGrupal, #obsGrupal, #obsIndividual, #comisionAsesoria,
#obsAsesoria, #comisionServicio, #obsServicio, #comisionPracticas, #obsPracticas,
#obsCientificos, #obsDivulgacion, #obsTraduccion, #obsArbitrajeInt, #obsArbitrajeNac, #obsSinInt, #obsSinNac, #obsAutor, #obsEditor, #obsWeb,
#comisionCientificos, #comisionDivulgacion, #comisionTraduccion, #comisionArbitrajeInt, #comisionArbitrajeNac, #comisionSinInt, #comisionSinNac, #comisionAutor, #comisionEditor, #comisionWeb, .comision3_13{
    background-color: #d6fff7;
    border-color: transparent;
    text-align: right;
}

#academica , #servicio , #practicas{
    font-weight: bold;
    text-align: center;
}

#comisionCongresoInt, #obsCongresoInt, #comisionCongresoNac, #obsCongresoNac, #comisionCongresoLoc, #obsCongresoLoc, #comisionArbInt,
#comisionArbNac, #comisionPubInt, #comisionPubNac,#comisionRevInt, #comisionRevNac,#comisionRevista, #comisionPatententes, #comisionPrototipos,
#obsArbInt, #obsArbNac, #obsPubInt, #obsPubNac, #obsRevInt,#obsRevNac, #obsRevista, #obsPatentes, #obsPrototipos,
#comisionInicioFinancimientoExt, #obsInicioFinancimientoExt, #comisionInicioInvInterno, #obsInicioInvInterno, #comisionReporteFinanciamExt, #obsReporteFinanciamExt, 
#comisionReporteInvInt, #obsReporteInvInt,  #obsDifusionExt, #obsDifusionInt, #obsRepDifusionExt, #obsRepDifusionInt, #comisionDifusionExt,
#comisionDifusionInt, #comisionRepDifusionExt, #comisionRepDifusionInt{
    background-color: #d6fff7;
    border-color: transparent;
    text-align: right;
}

.nav-item, .nav-link {
    border-style: none;
}
