@media print{
.printButtonClass {
    display: none;
    width:fit-content;
    margin-top: -50px;
    
}}

.mostrar{
  margin-top: 50px;  
}

.instrucciones{
    width:1200px; 
    margin-left: -10px; 
    font-size: .9rem;
    height:200px;
}

@media print{
    .instrucciones{
        width:700px;
        font-size: .8rem;
        margin-left: 200px;
    }
}



@media print {
.mostrar {
    margin-top: 50px;
    width:fit-content;
    margin-left: -200px;
    
}}

@media print {
.printCenter{
    margin-left:300px;
}}
@media print {
.printHeader{
    margin-left: 200px;
}
}

@media print{
    #piedepagina{
        margin-right: -200px;
        margin-top: -100px;
    }
}


@media print{
    
    #footerForm3_1, #footerForm3_4{
        margin-top: -20px;
    }

    #form3_3, #form3_9, #form3_12, #form3_16, #form3_4, #form3_8, #form3_10, #form3_18{
        font-size: .8rem;
    }

    #form4, #form5, #form3_14, #cuerpos_colegiados {
        font-size: .95rem;
    }

    #form3_8Acreditacion{
        padding: 20px;
    }

    #cuerpos_colegiados{
        margin-left: 200px;
    }


    #footerForm3_3{
        margin-top: 20px;
    }

    #form3_17_a{
        width: 300px;
    }

    #form3_17{
        margin-left: -350px;
    }

    #form3_13{
        font-size: .75rem;
    }
    
    td[id^="form3_17_"] {
    width: 200px;
}

    
}







