@media print{
.printButtonClass {
    display: none;
    width:fit-content;
    margin-top: -50px;
    
}}

.mostrar{
  margin-top: 50px;  
}

.instrucciones{
    width:1200px; 
    margin-left: -10px; 
    font-size: .9rem;
    height:200px;
}

@media print{
    .instrucciones{
        width:700px;
        font-size: .8rem;
        margin-left: 200px;
    }
}



@media print {
.mostrar {
    margin-top: 50px;
    width:fit-content;
    margin-left: -200px;
    
}}

@media print {
.printCenter{
    margin-left:300px;
}}
@media print {
.printHeader{
    margin-left: 200px;
}
}

@media print{
    #piedepagina{
        margin-right: -200px;
        margin-top: -50px;
    }
}


@media print{
    #footerForm3_1{
        margin-top: -20px;
    }

    #form3_3{
        font-size: .8rem;
    }

    #footerForm3_3{
        margin-top: 20px;
    }
    
}







