.resumenTabla th{
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    padding-right: 100px;
}

.info, .personaEvaluadora,#firma{
    background-color: #7fe0f3;
}

.personaEvaluadora,.firma{
    padding-right: 400px;
}

.firma{
    margin-right: -600px;
    
}
#actv2Comision{
    font-weight: normal;
}
 #pMaximo{
padding-left: 200px;
}

#actv1Repetido, #actv2Repetido, .p2, #actv3Total, #minimaCalidad, #minimaTotal{
    margin-left: 120px;
}

#minimaCalidad,
#minimaTotal{
    font-weight: bolder;
}

#pComision {
padding-left: 60px;
width: 300px;
}

.p1{
    padding-left: 220px;
    
}


.tdResaltado{
    background-color: #ffcc6d;
}

#a1{
    margin-left: 60px;
    width: 280px;
    text-align: center;
}


#actv3Comision,
#comision3_2,
#comision3_3,
#comision3_4,
#comision3_5,
#comision3_6,
#comision3_7,
#comision3_8,
#comision3_9,
#comision3_10,
#comision3_11,
#comision3_12,
#comision3_13,
#comision3_14,
#comision3_15,
#comision3_16,
#comision3_17,
#comision3_18,
#comision3_19 {
    background-color: #ffcc6d;
    text-align: center;
    border: none;
    font-weight: normal;
}
tr .subtitle {

    font-weight: 900;
}

.subtitle{
    padding-left: 360px;
    font-weight: 900;
    font-family: Arial, sans-serif;
}

.buttonSignature{
    width: 300px;
    margin-left: 1000px;
}

.buttonSignature2 {
    width: 400px;
    margin-left: 300px;;
 
}

#firma{
    margin-left: -400px;
    width: 400px;
}

#firmaTexto{
    margin-left: -400px;
}

