#firma1,
#firma2,
#firma3 {
    margin-left: -400px;
    width: 400px;
}

#firmaTexto,
#firmaTexto2,
#firmaTexto3 {
    margin-left: -300px;
}

[class^="imgFirma"], .imgSection{
    background-color: rgb(163, 249, 244);
}

[class^="personaEvaluadora"]{
    background-color: rgb(163, 249, 244);
    width: 300px;
}
#firma1, #firma2, #firma3{
    background-color: rgb(163, 249, 244);
    margin-left: -300px;
}

@media print{
[id^="firma"] ,.text-muted{
        display: none;
        width: fit-content;
}}

@media print{
[class^="imgFirma"]{
margin-left: -400px;
background-color: transparent;
}
}
@media print{
.menu{
   display: none; 
}
}

@media print {

    .buttonSignature,
    .buttonSignature2 {
        display: none;
    }
}

@media print{
    .topHeader, #form4, #form5{
        margin-left: -200px;
    }
}
